.icon {
  display: block;
  height: 32px;
  width: 32px;
  background-size: contain;

  &--phone {
    background-image: url(../images/icon-phone.png);
  }

  &--menu {
    background-image: url(../images/burger-menu.png);
  }

  &--close {
    background-image: url(../images/icon-close.png);
  }
}
