.product {
  &__photo-link {
    overflow: hidden;
    display: block;
  }

  &__photo {
    display: block;
    width: 100%;
    transition: transform $effectDuration;
  }

  &__photo-link:hover &__photo {
    transform: scale(1.1);
  }

  &__price {
    @include style-title;
  }
}
