.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 32px;
    background-size: center;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include on-tablet {
      height: 56px;
    }

    @include hover(transform, scale(1.2));
  }
}

.phone-link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: inherit;

  &__text {
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    transition: text-decoration-color 0.2s ease;
    opacity: 0;
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/icon-phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &:hover &__text {
    text-decoration: none;
    text-underline-offset: 4px;
    opacity: 1;
  }
}
